@import './resets';
@import './variables';


@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}
@mixin theme($light: true) {
    @if $light {
        background: lighten($primary-color, 100%);
        color: darken($text-color, 100%);
    }
}
@mixin mobile {
    @media only screen and (max-width: 768px) {
        @content;
    }
}

body {
    background: $primary-color;
    color: $text-color;
}

.main {
    width: 80%;
    margin: 0 auto;
    @include flexCenter(row);


    #{&}_paragraph {
        font-weight: weight(bold);

        &:hover {
            color: pink;
        }
    }

    @include mobile {
        flex-direction: column;
    }
}

.light {
    @include theme($light);
}